body, h1 {
    background: #f4f2f3;
    font: normal 300 16px/25px Segoe UI, sans-serif;
}
.wrapper {
    text-align: center;
    position: relative;
    left: -49px;
    top: -7px;
}
.title {
    font-size: 42px;
    line-height: 50px;
    margin: 90px 0 30px 0;
}
.steps {
    margin: 0 auto;
    width: 950px;
    min-height: 250px;
    clear: both;
}
.steps .step {
    float: left;
    width: 200px;
    padding: 0 50px 0 0;
    background: url(./img/arr.png) right 70px no-repeat;
}
.steps .step_last {
    padding-right: 0;
    background: none;
}
